{% set style = {
  "body_color": "#202326",
  "letter_line_height": 1.4,
  "header_rule_width": 1.0,
  "letter_header_margin_bottom": 0.29,
  "header_padding_bottom": 0.07,
  "header_align": "left",
  "name_color": "#111",
  "name_size_delta": 6,
  "name_weight": 700,
  "name_letter_spacing": 0,
  "name_transform": "uppercase",
  "contact_size_delta": 1.1,
  "contact_margin_top": 0.04,
  "letter_paragraph_margin_bottom": 0.13
} %}
{% include "_cover_letter_base.html.j2" %}
